.newEventContainer {
    width: 400px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.newEventContainer h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.newEventContainer input,
.newEventContainer textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.newEventContainer textarea {
    resize: none;
    overflow: hidden;
}

.addEventBtn {
    background: linear-gradient(to bottom, #4D4D4D 5%, #4D4D4D 100%);
    background-color: #4D4D4D;
    border: 1px solid #4D4D4D;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.addEventBtn:hover {
    background: linear-gradient(to bottom, #4D4D4D 5%, #4D4D4D 100%);
    background-color: #4D4D4D;
    color: #fff;
}